## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer class="global">
  <div class="footer-container">
    <p class="copyright">© The University of North Carolina. All rights reserved except where noted. ExplorePath™ is a trademark of The University of North Carolina.</p>
    <div class="by-ionisx">
      <a href="http://open.edx.org/">
        <img src="${static.url('themes/{theme_name}/images/edx-openedx-logo-tag.png'.format(theme_name=settings.THEME_NAME))}" alt="Powered by Open edX">
      </a>
    </div>
  </div>
</footer>
